* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    /* font-family: Arial, sans-serif; */
}

body {
    background-color: #f5f5f5;
    background-color: #ffcccc;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a,
a:focus,
a:active,
img,
img:active {
    -webkit-tap-highlight-color: transparent;
    outline: 0 !important;
}

.background-blur{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    backdrop-filter: blur(10px);
    z-index: 2;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #343436;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: 2s linear infinite spin;
    position: fixed;
    top: 45%;
    left: 42%;
    z-index: 2;
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.app-container {
    max-width: 400px;
    margin: auto;
    /* padding: 0 10px 10px; */
    height: 90vh;
    overflow-y: scroll;
    display: none;
}

/* header css start */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
    /* background-color: white; */
    background: #c44569;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header .profile-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header .profile-icon {
    width: 42px;
    height: 42px;
    background-color: #e0e0e0;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    flex-shrink: 0;
}

.header .profile-icon img {
    width: 100%; /* Make the image fill the container */
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-radius: 50%;
}

.header .profile-name {
    font-size: 16px;
    font-weight: 600;
    color: white;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header .balance {
    padding: 0.4rem .8rem;
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    font-size: 14px;
    color: white;
    font-weight: 600;
}
/* header css end */

.section-title {
    padding: 1rem;
    color: #666;
    font-size: 1.1rem;
    color: #C11C84;
    padding-bottom: 0.5rem;
    font-weight: 600;
}

.finished-rewards {
    padding: 1rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.reward-card {
    min-width: 100px;
    padding: .6rem;
    border-radius: 15px;
    text-align: center;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.05); */
    margin-left: 0.8rem;
    background-image: url('/assets/images/box-bg4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 2px 5px #00000024;
}

.reward-amount {
    font-size: 1.5rem;
    color: #ff6b6b;
    font-weight: bold;
}

.reward-currency {
    color: #666;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.user-tag {
    font-size: 0.8rem;
    color: #888;
    margin-top: 0.5rem;

    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limits text to 1 line */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Ensure slides are properly sized */
.swiper-slide {
    width: auto;
    height: auto;
    margin-right: 0px !important;
}
.swiper-wrapper{
    padding-bottom: 6px !important;
}

/* giveaway css start */
.giveaway-container {
    padding: 1rem;
    padding-top: 4px;
}
.giveaway-container .giveaway-card {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Ensures both divs have equal height */
    width: 100%;
    max-width: 500px; /* Adjust as needed */
    border-radius: 8px;
    font-family: Arial, sans-serif;
    margin-bottom: 24px
}

.giveaway-container .giveaway-amount {
    width: 30%;
    text-align: center;
    border-radius: 8px 0px 0px 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: linear-gradient(135deg, #FF416C, #FF4B2B);
    background-image: url('/assets/images/texture-bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.giveaway-container .giveaway-amount h5{
    color: white;
    font-size: 26px;
    font-weight: 700;
    text-shadow: 1px 1px 1px black;
}

.giveaway-container .giveaway-amount span{
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 600;
}

.giveaway-container .giveaway-info {
    width: 70%;
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers text vertically */
    position: relative;
    border-radius: 0px 8px 8px 0px;
    /* padding-bottom: 24px; */
}

.giveaway-container .giveaway-info div {
    margin-bottom: 5px;
}

.giveaway-container .giveaway-info .participants {
    font-size: 14px;
}

.giveaway-container .giveaway-info .join-button {
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    position: absolute;
    bottom: -15px; /* Moves half of the button outside the div */
    transform: translateX(-50%); /* Center it horizontally */

    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 90px;
    text-align: center;
    left: 81.5%;
}

.giveaway-container .giveaway-info .join-button:hover {
    background-color: #ff1c1c;
}

strong.giveaway_ad_view_btn{
    display: block;
    margin-top: 10px;
    font-size: 12px;
    border: 1px solid white;
    padding: 4px 8px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #00000082;
    cursor: pointer;
    width: 128px;
    text-align: center;
}
/* giveaway css end */

/* css for bottom navigation */
.bottom-navigation {
    background: #c44569;
    position: fixed;
    bottom: 2%;
    width: 96%;
    left: 2%;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-radius: 12px;
}

.bottom-navigation .nav-button {
    flex: 1;
    background: 0 0;
    border: none;
    color: #c5c5c5;
    font-size: 14px;
    font-weight: 600;
    flex-grow: 1;
    cursor: pointer;
    text-align: center;
}
.bottom-navigation .nav-button.active {
    color: white ;
    text-shadow: 1px 1px 1px #000;
}
.bottom-navigation .nav-button:focus {
    outline: 0;
}
.bottom-navigation .nav-button i {
    display: block;
    font-size: 18px;
    margin-bottom: 4px;
}

/* splash screen css */
.splash-screen {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transform: translateX(0);
    transition: transform 0.5s;
}
.splash-screen.slide-out {
    transform: translateX(100%);
}
.splash-screen .progress-container-loader {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
    padding: 2px;
}
.splash-screen .progress-bar-loader {
    width: 0;
    height: 20px;
    border-radius: 5px;
    transition: width 0.1s linear;
    line-height: 20px;
    text-align: center;
    background-color: #343436;
    font-size: 14px;
    color: #fff;
}

/* modal css start */
.modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
}

.modal-content {
    text-align: center;
    width: 90%;
    max-width: 400px;

    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}

.modal-title {
    color: #fff;
    font-size: 18px;
}
.modal-body {
    margin: 20px 0;
}
.modal-footer {
    margin-top: 20px;
    cursor: pointer;
    text-shadow: 1px 1px 2px #000;
}
.modal-footer .visit-btn {
    display: inline-block;
    background-color: #3A2834;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
}
.modal-footer .visit-btn:hover {
    background-color: #4682b4;
}
/* modal css end */
